{% extends "base.html" %}
{% load static %}   
{% block page_title %}
404 | Group 3
{% endblock %}
   



{% block content %}



    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark" style="background: #222831;color: #EEEEEE; height:1000px">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info text-uppercase">ERROR 404</h2>
                    <p class="text-capitalize" style="font-size: 22px;">Page Not Found</p>
                </div>



            </div>
        </section>
    </main>




    
{% endblock %}