{% extends "base.html" %}
{% load static %}   
{% block page_title %}
  Home | Group 3
{% endblock %}
   



{% block content %}


    <main class="page">
        <section class="clean-block slider">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Gallery</h2>
                    <p>:)</p>
                </div>
                <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
                    <div class="carousel-inner">
                        <div class="carousel-item active"><img class="w-100 d-block" src={% static "assets/img/gal/6.jpg"%} alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src={% static "assets/img/gal/7.jpg"%} alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src={% static "assets/img/gal/5.jpg"%} alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src={% static "assets/img/gal/4.jpg"%} alt="Slide Image"></div>
                    </div>
                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="3"></li>
                    </ol>
                </div>
            </div>
        </section>
    </main>



    {% endblock %}