{% extends "base.html" %}
{% load static %}   
{% block page_title %}
  Search | Group 3
{% endblock %}
   



{% block content %}

<main class="page blog-post-list">
    <section class="clean-block clean-blog-list dark" style="background: #222831;color: #EEEEEE;">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info text-uppercase">Search</h2>
                <p class="text-capitalize" style="font-size: 22px;">Search Result for {{query}}:</p>
            </div>
            <div class="block-content" style="background: #2d3137;">
                
                    {% if query %}
                
                
                        {% if posts %}
                            {% for material in posts %}
                            <div class="clean-blog-post">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <h3>{{material.title}}</h3>
                                        <div class="info"><span class="text-muted">{{material.timestamp}} | {{material.subject}} {{material.types}}</span></div>
                                        <p> {{material.desc}}</p>
                                        {% if material.file %}
                                        <a href="{{material.file.url}}"><button class="btn btn-outline-primary">Read</button></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %} 
                        {% endif %}
                        {% if notices %}
                            {% for notice in notices %}
                            <div class="clean-blog-post">
                                <div class="row">
                                    <div class="col-lg-7">
                                        <h3>{{notice.title}}</h3>
                                        <div class="info"><span class="text-muted">{{notice.timestamp}} | Notice</span></div>
                                        <p> {{notice.desc}}</p>
                                        {% if notice.file %}
                                        <a href="{{notice.file.url}}"><button class="btn btn-outline-primary">Read</button></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                
                
                        {% if not posts and not notices %}  
                            <div class="row">
                                <div class="col-lg-7">
                                    <h3>No Results Found</h3>
                            
                                </div>
                            </div>   
                        {% endif %}

                    {% else %}
                        <div class="row">
                            <div class="col-lg-7">
                                <h3>Search Field is Empty</h3>
                            
                            </div>
                        </div>   
                    {% endif %}
                


            
                
            </div>
        </div>
    </section>
</main>



{% endblock %}
